body {
  color: #fff;
  background-color: #000;
}

.panels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  font-family: monospace;
}

.panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 0.2rem;
  border: 1px solid #555;
  margin: 0.2rem;
  overflow: auto;
  max-width: 5rem;
  min-width: 5rem;
}

.line {
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 0.2rem;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 1rem;
  font-family: monospace;
}

.title {
  font-weight: bold;
  word-wrap: break-word;
  margin-bottom: 1.0rem;
  border-bottom: 1px solid #777;
  height: 3rem;
}
