body {
  color: #fff;
  background-color: #000;
}

.panels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  font-size: 0.2rem;
  font-family: monospace;
}

.panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 0.2rem;
  border: 1px solid #555;
  margin: 0.2rem;
  overflow: auto;
  max-width: 5rem;
  min-width: 5rem;
}

.line {
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
